:root {
    --green: hsl(106, 21%, 28%);
    --dark-green: hsl(106, 21%, 18%);
    --accent: hsl(45, 78%, 60%);
    --healthy-space: 4rem;
}

body {
    background-color: var(--green);
    color: white;
    display: grid;
    font-size: 125%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-template-rows: max-content auto max-content;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin-top: 0;
}

/* Layout */

.container {
    --side-margin: 0;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
    max-width: 40rem;
    padding: 1rem;
}

.section {
    margin-top: var(--healthy-space);
}

@media screen and (min-width: 500px) {
    .container {
        --side-margin: auto;
    }

    .footer .container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

/* Text */

h1, h2, h3, h4, h5, h6 {
    font-family: Quicksand, Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

a {
    color: var(--accent);
}

.strike {
    text-decoration: line-through;
}
